// to do 1. use variables for the colors

*{font-family: Arial, Helvetica, sans-serif;}
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  max-width: 350px;
  // max-height: 500px;
  display: flex;
  flex-direction: column;

  img {
    width: 100%;
    height: 15vw;
    object-fit: cover;
  }

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  // img {
  // heights are auto by default, setting the height, I'm running into overflowing text issues 
  // height: auto;
  // width: 100%;
  // I could comment all this out because by default everything should fit to the card
  // margin: 0;
  // max-width: 300px;
  // max-height: 300px;
  // }

  &__container {
    // The padding isn't included in the width of the card. Hence having the width of the p-tag not taken into account
    padding: 2px 16px;
    // width: 100%;

    p {
      overflow-wrap: break-word;
    }

    &__tags {
      display: flex;
      justify-content: space-between;

      &__list{
        list-style: none;
        display: inline-flex;
        
        &__item{
          margin: 4px;
          padding: 5px;
          background-color: #Dddd;
          color: #747a8e;
          border-radius: 35%;
          font-size: 15px;
        }

        &__sale{
          margin: 4px;
          padding: 5px;
          background-color: #54FFb2;
          color: #000; ;
          border-radius: 35%;
          font-size: 15px;
        }



      }
    }

  }

  // styling the buttons

  &__button-clicks {
    display: flex;
    justify-content: flex-start;
    margin-left: 16px;
    margin-top: 20px;
    margin-bottom: 20px;


    &__primary {
      width: 100px;
      height: 40px;
      background-color: black;
      color: #fff;
    
    }


    &__secondary {
      width: 100px;
      height: 40px;
      border: 1px solid black;
      background-color: white;
      margin-left: 10px;
    }
  }
}

.hero {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;

  .german {
    border: #00FFB2 solid 2px;
  }

}