* {
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  max-width: 350px;
  display: flex;
  flex-direction: column;
}
.card img {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.card__container {
  padding: 2px 16px;
}
.card__container p {
  overflow-wrap: break-word;
}
.card__container__tags {
  display: flex;
  justify-content: space-between;
}
.card__container__tags__list {
  list-style: none;
  display: inline-flex;
}
.card__container__tags__list__item {
  margin: 4px;
  padding: 5px;
  background-color: #Dddd;
  color: #747a8e;
  border-radius: 35%;
  font-size: 15px;
}
.card__container__tags__list__sale {
  margin: 4px;
  padding: 5px;
  background-color: #54FFb2;
  color: #000;
  border-radius: 35%;
  font-size: 15px;
}
.card__button-clicks {
  display: flex;
  justify-content: flex-start;
  margin-left: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.card__button-clicks__primary {
  width: 100px;
  height: 40px;
  background-color: black;
  color: #fff;
}
.card__button-clicks__secondary {
  width: 100px;
  height: 40px;
  border: 1px solid black;
  background-color: white;
  margin-left: 10px;
}

.hero {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}
.hero .german {
  border: #00FFB2 solid 2px;
}